<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Relatório</title>
  </head>
  <body style="font-family: Arial, sans-serif; color: #333; line-height: 1.4;">
    <h1>Relatório de Notificações dia {{formatDate reportDate}}</h1>
    <small>Gerado em {{formatDateTime generatedDatetime}}</small>

    <hr style="margin: 20px 0;" />

    <p>No dia {{formatDate reportDate}} foram processadas <strong>{{processedMovimentationCount}}</strong> movimentações:</p>

    <p>Total de clientes: <strong>{{totalClients}}</strong></p>
    <p>Notificações enviadas com sucesso: <strong>{{notificationsSent}}</strong></p>
    <p>Notificações não enviadas : <strong style="color: red;">{{notificationsNotSent}}</strong></p>

    <h2 style="margin-top: 30px;">Clientes e Movimentações</h2>
    <table border="1" cellpadding="8" cellspacing="0" width="100%" style="border-collapse: collapse; font-size: 14px;">
      <thead style="background-color: #f2f2f2;">
        <tr>
          <th align="left">Nome do Cliente</th>
          <th align="left">Telefone</th>
          <th align="left">CNJ</th>
          <th align="left">Tipo</th>
          <th align="left">Data</th>
          <th align="left">Notificação</th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
          {{#each movimentations}}
            <tr>
              {{#if @first}}
                <td rowspan="{{../movimentations.length}}">{{../name}}</td>
                <td rowspan="{{../movimentations.length}}">{{../phoneNumber}}</td>
              {{/if}}
              <td style="background-color: {{#unless notificationSent}} #ffecec {{/unless}};">{{lawsuitCNJ}}</td>
              <td style="background-color: {{#unless notificationSent}} #ffecec {{/unless}};">{{type}}</td>
              <td style="background-color: {{#unless notificationSent}} #ffecec {{/unless}};">{{formatDate date}}</td>
              <td style="background-color: {{#unless notificationSent}} #ffecec {{/unless}};">
                {{#if notificationSent}}
                  <span style="color: green;">Enviada</span>
                {{else}}
                  <span style="color: red;">Não enviada: {{notificationErrorMessage notificationError}}</span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>

  </body>
</html>
